{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" href="{{ request.script_root }}/plugins/classification/static/config.css" type="text/css">
</head>
<style>
td { text-align:center; left: 0px }
.checkbox { margin: 0px !important; }
input[type="checkbox"] { margin: 0px !important; position: relative; top: 5px; }

.form-control{
  background: rgba(80, 0, 0, 0.9);
  color: #fff;
  text-shadow: 0 1px 0 rgba(20, 0, 0, 0.4);
  border-radius: 20px;
  -webkit-appearance: menulist-button;
   height: 45px;
  font-size: 125%;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>

<div class="jumbotron home">
    <div class="container">
        <h1>Scoreboard</h1>
    </div>
</div>
<div class="container main-container">
    <div class="row" style="display: inline-block !important;white-space: nowrap;float: left;">
<table>

</table>   
</div>

<!-- select id="classify" class="form-control" onchange="update()"
 -->
<div  class="container main-container">
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Brackets
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for bracket in brackets %}
      <li><a onclick="update('{{ bracket.name }}')" tabindex="-1" name="classify" id="classify">{{ bracket.name }}</a></li>
      {% endfor %}
<!--
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
        </ul>
      </li>
-->
    </ul>   
    <!--<input type="text" name = "classify" id = "classify"> 
    <button type="button" onclick="update()">Try</button>-->
</div>
    {% if errors %}
    <div class="container main-container">
        <div id='errors' class="row">
    {% for error in errors %}
            <h1>{{ error }}</h1>
    {% endfor %}
        </div>
    </div>
    {% else %}

        {% if score_frozen %}
        <div class="container main-container">
            <div class="row">
                <h1>Scoreboard has been frozen.</h1>
            </div>
        </div>
        {% endif %}

    <div id="score-graph"></div>
    <br>

    <table id="scoreboard" class="table table-striped">
        <thead>
            <tr>
                <td width="10px"><b>Place</b>
                </td>
                <td><b>Team</b>
                </td>
                <td><b>Score</b>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr><td>{{ loop.index }}</td><td><a href="{{ request.script_root }}/team/{{ team.teamid }}">{{ team.name }}</a></td><td>{{ team.score }}</td></tr>
            {% endfor %}
		</tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/vendor/plotly.min.js"></script>
    <script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/utils.js"></script>
    <script src="{{ request.script_root }}/plugins/classification/static/config.js"></script>
{% endblock %}
