.form-container {
		padding-left:  60px;
		padding-right: 60px;
}


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
td {
	cursor: pointer;
}

.selected {
	background-color: hsla(196, 77%, 55%, 0.3) !important;
	transition: all .2s ease-in;
}

.topButton{
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 100px;
}
.table-wrapper{
	padding-bottom: 80px;
}

